@media (max-width: 767px) {

    .footer-block {
      padding-top: 34px;
  
      background-color: #353C65;
  
      &__body {
        padding-bottom: 34px;
      }
  
      &__item:nth-child(2) {
        margin-top: 70px;
      }
  
      &__item:nth-child(3) {
        margin-top: 60px;
      }
  
      &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
  
        color: #FFFFFF;
      }
  
      &__text {
        margin-top: 34px;
  
        text-transform: capitalize;
  
        color: #FFFFFF;
      }
  
      &__item:nth-child(3) p {
        width: 91%;
        margin: 37px 0 0 15px;
      }
  
      &__links {
        margin-top: 36px;
  
        display: flex;
        list-style: none;
        justify-content: center;
        column-gap: 17px;
      }
  
      &__link {
        width: 33px;
        height: 33px;
  
        transition-duration: 0.4s;
      }
  
      &__link:hover{
        background-color: #2C3154;
      }
  
  
      &__link a img {
        width: 100%;
        height: 100%;
      }
  
      &__copyright {
        padding: 30px 0 28px;
  
        background-color: #2C3154;
      }
  
      &__info {
        width: 96%;
        margin-left: 6px;
        text-transform: capitalize;
  
        color: #808080;
      }
  
      &__info span {
        color: #FFFFFF;
      }
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
    .footer-block {
      padding-top: 46px;
  
      background-color: #353C65;
  
      &__body {
        padding-bottom: 41px;
  
        display: flex;
        justify-content: space-evenly;
      }
  
      &__item {
        width: 318px;
      }
  
      &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
  
        color: #FFFFFF;
      }
  
      &__text {
        margin-top: 18px;
  
        text-transform: capitalize;
  
        color: #FFFFFF;
      }
  
      &__links {
        margin-top: 33px;
        column-gap: 22px;
  
        display: flex;
        list-style: none;
        justify-content: center;
  
  
      }
  
      &__link {
        width: 33px;
        height: 33px;
  
        transition-duration: 0.4s;
      }
  
      &__link:hover{
        background-color: #2C3154;
      }
  
      &__link a img {
        width: 100%;
        height: 100%;
      }
  
      &__copyright {
        padding: 15px 0 14px;
  
        display: flex;
        justify-content: center;
  
        background-color: #2C3154;
      }
  
      &__info {
        width: 34%;
  
        text-transform: capitalize;
  
        color: #808080;
      }
  
      &__info span {
        color: #FFFFFF;
      }
    }
  
  }
  
  @media (min-width: 1025px) {
  
    .footer-block {
      background-color: #353C65;
  
      &__body {
        padding: 71px 131px 67px;
  
        display: flex;
        justify-content: space-evenly;
      }
  
      &__item {
        width: 355px;
      }
  
      &__header {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
  
        color: #FFFFFF;
      }
  
      &__text {
        margin-top: 29px;
  
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
  
        color: #FFFFFF;
      }
  
      &__links {
        column-gap: 26px;
        margin-top: 49px;
  
        display: flex;
        list-style: none;
        justify-content: center;
  
  
      }
  
      &__link {
        width: 39px;
        height: 39px;
  
        transition-duration: 0.4s;
      }
  
      &__link:hover{
        background-color: #2C3154;
      }
  
      &__link a img {
        width: 100%;
        height: 100%;
      }
  
      &__copyright {
        padding: 24px 0 25px;
  
        display: flex;
        justify-content: center;
  
        background-color: #2C3154;
      }
  
      &__info {
        width: 25%;
  
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
  
        color: #808080;
      }
  
      &__info span {
        color: #FFFFFF;
      }
    }
  }